:root {
    --color-blanco: #FFF;
    --color-gris: #BFBFBF;
    --color-negro: #000;
    --color-azul-claro: #C7E2FA;
    --color-azul-medioclaro: #90C5F6;
    --color-azul-medio: #0F6FC6;
    --color-azul-mediooscuro: #0B5294;
    --color-azul-oscuro: #0C2036;

    --color-link: #0BC6FF;
    --color-link-hover: #74EAFF;
    --color-link-active: #E02E0F;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    color: var(--color-negro);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* Menu */

nav {
    position: fixed;
    display: inline-block;
    width: 100%;
    min-height: 100px;
    max-height: 60%;
    background-color: var(--color-azul-medio, #0f6ec6);
    border-bottom: var(--color-azul-medio) 1px solid;
    transform: translateY(calc(-100% + 1rem));
    transition: ease 0.2s;
    z-index: 1;
}

nav:hover {
    transform: translateY(0);
    transition: ease 0.2s;
}

nav .nav-tag {
    position: fixed;
    top: 100%;
    left: min(10px, 1%);
    background-color: transparent;
    border: none;
    transition: ease 0.2s;
}

nav .menu-container {
    display: flex;
    align-items: center;
    min-height: 100px;
    max-height: 60%;
    padding: 1em 0;
    justify-content: center;
}

.menu {
    display: flex;
    position: relative;
    width: 97%;
    height: 100%;
    align-items: center;
    align-content: center;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 1em;
    list-style: none;
}

.menu li {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    justify-content: center;
}

.nav-link {
    color: var(--color-negro);
    font-size: clamp(1em,1em,50px);
    text-decoration-line: none;
    background-color: var(--color-azul-claro);
    padding: 0.5em;
    margin: 5px;
    border-radius: 5px;
    text-align: center;
    width: min(100%,11em);
    flex-grow: 1;
}

.nav-link:hover {
    background-color: var(--color-azul-medioclaro);
    color: var(--color-azul-oscuro);
    text-decoration: underline;
}

.nav-link:active {
    background-color: var(--color-azul-mediooscuro);
    color: var(--color-blanco)
}

.nav-link-importante {
    color: var(--color-azul-oscuro);
    font-size: clamp(1em,1em,50px);
    text-decoration-line: none;
    background-color: var(--color-link);
    padding: 0.5em;
    margin: 5px;
    border-radius: 5px;
    text-align: center;
    width: min(100%,11em);
    flex-grow: 1;
    font-weight: bold;
}

.nav-link-importante:hover {
    background-color: var(--color-link-hover);
    color: var(--color-azul-mediooscuro);
    text-decoration: underline;
}

.nav-link-importante:active {
    background-color: var(--color-link-active);
    color: var(--color-blanco)
}

/* Porfolio */

#porfolio {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    background-color: var(--color-azul-claro);
    color: var(--color-azul-oscuro);
    height: fit-content;
    min-height: 100vh;
    gap: 2rem;
    padding-bottom: 2rem;
    flex-wrap: nowrap;
}

#porfolio > h2 {
    background-color: var(--color-azul-medioclaro);
    display: inline-block;
    height: fit-content;
    overflow-wrap: break-word;
    width: 100%;
    margin-top: 0.5em;
    font-weight: 300;
    font-size: 3em;
    padding: 1.25rem;
}

#porfolio > h3 {
    background-color: var(--color-azul-medioclaro);
    font-size: 1.25rem;
    width: 100%;
    padding: 0.25rem 1.25rem 0.25rem 1.25rem;
    text-align: justify;
}

footer{
    height: 5em;
    background-color: var(--color-blanco);
    color: var(--color-negro);
}

footer span{
    display: block;
    text-align: center;
    margin: 1em;
}